<a href="https://colab.research.google.com/github/mzkhan2000/SA/blob/main/Task_Moni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# import necessary libraries - Monir
import pandas as pd
import numpy as np
import datetime

In [3]:
from google.colab import files
uploaded = files.upload()

Saving date-time-cars.csv to date-time-cars.csv

In [4]:
data = pd.read_csv('date-time-cars.csv', header=None)

In [5]:
print(data)

                      0   1
0   2021-12-01T05:00:00   5
1   2021-12-01T05:30:00  12
2   2021-12-01T06:00:00  14
3   2021-12-01T06:30:00  15
4   2021-12-01T07:00:00  25
5   2021-12-01T07:30:00  46
6   2021-12-01T08:00:00  42
7   2021-12-01T15:00:00   9
8   2021-12-01T15:30:00  11
9   2021-12-01T23:30:00   0
10  2021-12-05T09:30:00  18
11  2021-12-05T10:30:00  15
12  2021-12-05T11:30:00   7
13  2021-12-05T12:30:00   6
14  2021-12-05T13:30:00   9
15  2021-12-05T14:30:00  11
16  2021-12-05T15:30:00  15
17  2021-12-08T18:00:00  33
18  2021-12-08T19:00:00  28
19  2021-12-08T20:00:00  25
20  2021-12-08T21:00:00  21
21  2021-12-08T22:00:00  16
22  2021-12-08T23:00:00  11
23  2021-12-09T00:00:00   4

In [6]:
data.columns = ["datetime", "cars"]

In [7]:
df=data
# convert the 'Date' column to datetime format
df['datetime']= pd.to_datetime(df['datetime'])
 
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 512.0 bytes

The number of cars seen in total

In [8]:
total_number_of_cars = data['cars'].sum()
print(total_number_of_cars)

398

In [9]:
m = df['datetime'].dt.date.groupby(df['cars']).apply(lambda x: x.diff().shift(-1).ffill()).abs().eq(1)

In [10]:
df1 = df[m]

In [12]:
print(df)

              datetime  cars
0  2021-12-01 05:00:00     5
1  2021-12-01 05:30:00    12
2  2021-12-01 06:00:00    14
3  2021-12-01 06:30:00    15
4  2021-12-01 07:00:00    25
5  2021-12-01 07:30:00    46
6  2021-12-01 08:00:00    42
7  2021-12-01 15:00:00     9
8  2021-12-01 15:30:00    11
9  2021-12-01 23:30:00     0
10 2021-12-05 09:30:00    18
11 2021-12-05 10:30:00    15
12 2021-12-05 11:30:00     7
13 2021-12-05 12:30:00     6
14 2021-12-05 13:30:00     9
15 2021-12-05 14:30:00    11
16 2021-12-05 15:30:00    15
17 2021-12-08 18:00:00    33
18 2021-12-08 19:00:00    28
19 2021-12-08 20:00:00    25
20 2021-12-08 21:00:00    21
21 2021-12-08 22:00:00    16
22 2021-12-08 23:00:00    11
23 2021-12-09 00:00:00     4

In [15]:
#convert datetime column to just date
df['date'] = pd.to_datetime(df['datetime']).dt.date

A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     object
 1   cars      24 non-null     int64
dtypes: int64(1), object(1)
memory usage: 512.0+ bytes

In [16]:
print(df)

              datetime  cars        date
0  2021-12-01 05:00:00     5  2021-12-01
1  2021-12-01 05:30:00    12  2021-12-01
2  2021-12-01 06:00:00    14  2021-12-01
3  2021-12-01 06:30:00    15  2021-12-01
4  2021-12-01 07:00:00    25  2021-12-01
5  2021-12-01 07:30:00    46  2021-12-01
6  2021-12-01 08:00:00    42  2021-12-01
7  2021-12-01 15:00:00     9  2021-12-01
8  2021-12-01 15:30:00    11  2021-12-01
9  2021-12-01 23:30:00     0  2021-12-01
10 2021-12-05 09:30:00    18  2021-12-05
11 2021-12-05 10:30:00    15  2021-12-05
12 2021-12-05 11:30:00     7  2021-12-05
13 2021-12-05 12:30:00     6  2021-12-05
14 2021-12-05 13:30:00     9  2021-12-05
15 2021-12-05 14:30:00    11  2021-12-05
16 2021-12-05 15:30:00    15  2021-12-05
17 2021-12-08 18:00:00    33  2021-12-08
18 2021-12-08 19:00:00    28  2021-12-08
19 2021-12-08 20:00:00    25  2021-12-08
20 2021-12-08 21:00:00    21  2021-12-08
21 2021-12-08 22:00:00    16  2021-12-08
22 2021-12-08 23:00:00    11  2021-12-08
23 2021-12-09 00:00:00     4  2021-12-09

In [17]:
df.set_index('date')

                      datetime  cars
date
2021-12-01 2021-12-01 05:00:00     5
2021-12-01 2021-12-01 05:30:00    12
2021-12-01 2021-12-01 06:00:00    14
2021-12-01 2021-12-01 06:30:00    15
2021-12-01 2021-12-01 07:00:00    25
2021-12-01 2021-12-01 07:30:00    46
2021-12-01 2021-12-01 08:00:00    42
2021-12-01 2021-12-01 15:00:00     9
2021-12-01 2021-12-01 15:30:00    11
2021-12-01 2021-12-01 23:30:00     0
2021-12-05 2021-12-05 09:30:00    18
2021-12-05 2021-12-05 10:30:00    15
2021-12-05 2021-12-05 11:30:00     7
2021-12-05 2021-12-05 12:30:00     6
2021-12-05 2021-12-05 13:30:00     9
2021-12-05 2021-12-05 14:30:00    11
2021-12-05 2021-12-05 15:30:00    15
2021-12-08 2021-12-08 18:00:00    33
2021-12-08 2021-12-08 19:00:00    28
2021-12-08 2021-12-08 20:00:00    25
2021-12-08 2021-12-08 21:00:00    21
2021-12-08 2021-12-08 22:00:00    16
2021-12-08 2021-12-08 23:00:00    11
2021-12-09 2021-12-09 00:00:00     4

In [18]:
print(df)

              datetime  cars        date
0  2021-12-01 05:00:00     5  2021-12-01
1  2021-12-01 05:30:00    12  2021-12-01
2  2021-12-01 06:00:00    14  2021-12-01
3  2021-12-01 06:30:00    15  2021-12-01
4  2021-12-01 07:00:00    25  2021-12-01
5  2021-12-01 07:30:00    46  2021-12-01
6  2021-12-01 08:00:00    42  2021-12-01
7  2021-12-01 15:00:00     9  2021-12-01
8  2021-12-01 15:30:00    11  2021-12-01
9  2021-12-01 23:30:00     0  2021-12-01
10 2021-12-05 09:30:00    18  2021-12-05
11 2021-12-05 10:30:00    15  2021-12-05
12 2021-12-05 11:30:00     7  2021-12-05
13 2021-12-05 12:30:00     6  2021-12-05
14 2021-12-05 13:30:00     9  2021-12-05
15 2021-12-05 14:30:00    11  2021-12-05
16 2021-12-05 15:30:00    15  2021-12-05
17 2021-12-08 18:00:00    33  2021-12-08
18 2021-12-08 19:00:00    28  2021-12-08
19 2021-12-08 20:00:00    25  2021-12-08
20 2021-12-08 21:00:00    21  2021-12-08
21 2021-12-08 22:00:00    16  2021-12-08
22 2021-12-08 23:00:00    11  2021-12-08
23 2021-12-09 00:00:00     4  2021-12-09

In [ ]:
df=data
# convert the 'Date' column to datetime format
df['datetime']= pd.to_datetime(df['datetime'])
 
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  24 non-null     datetime64[ns]
 1   cars      24 non-null     int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 512.0 bytes

In [ ]:
print(df)

              datetime  cars
0  2021-12-01 05:00:00     5
1  2021-12-01 05:30:00    12
2  2021-12-01 06:00:00    14
3  2021-12-01 06:30:00    15
4  2021-12-01 07:00:00    25
5  2021-12-01 07:30:00    46
6  2021-12-01 08:00:00    42
7  2021-12-01 15:00:00     9
8  2021-12-01 15:30:00    11
9  2021-12-01 23:30:00     0
10 2021-12-05 09:30:00    18
11 2021-12-05 10:30:00    15
12 2021-12-05 11:30:00     7
13 2021-12-05 12:30:00     6
14 2021-12-05 13:30:00     9
15 2021-12-05 14:30:00    11
16 2021-12-05 15:30:00    15
17 2021-12-08 18:00:00    33
18 2021-12-08 19:00:00    28
19 2021-12-08 20:00:00    25
20 2021-12-08 21:00:00    21
21 2021-12-08 22:00:00    16
22 2021-12-08 23:00:00    11
23 2021-12-09 00:00:00     4

In [27]:
# A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.
df2=df.groupby(["date"]).sum()

A sequence of lines where each line contains a date (in yyyy-mm-dd format) and the number of cars seen on that day (eg. 2016-11-23 289) for all days listed in the input file.

In [28]:
print(df2)

            cars
date
2021-12-01   179
2021-12-05    81
2021-12-08   134
2021-12-09     4

In [26]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fb68538f3d0>

In [20]:
datelist = df['date'].unique().tolist()

In [22]:
date_unique = df['date'].unique()

In [21]:
print(datelist)

[datetime.date(2021, 12, 1), datetime.date(2021, 12, 5), datetime.date(2021, 12, 8), datetime.date(2021, 12, 9)]

In [23]:
print(date_unique)

[datetime.date(2021, 12, 1) datetime.date(2021, 12, 5)
 datetime.date(2021, 12, 8) datetime.date(2021, 12, 9)]

In [24]:
date_unique[0]

datetime.date(2021, 12, 1)